@model IEnumerable<MusicSchool.Areas.Admin.Models.Courses>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/Course.css" />

</head>
<body>
    <h1>Courses</h1>


    <p>
        @Html.ActionLink("CreateNew", "CreateCourses")

    </p>
    <table class="table-striped">

        <tr>
            <th scope="col">#</th>
            <th scope="col">CourseName</th>
        </tr>

        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td scope="row">@course.CourseId</td>
                    <td>@course.CourseName</td>
                    
                    
                    
                    
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = course.CourseId}) |
                        @Html.ActionLink("Details", "Details", new { id = course.CourseId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = course.CourseId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Teacher">Go to Teachers</a>
    <a asp-action="Details">Go to Details</a>
    <a asp-action="Create">Create a new course</a>
    <a asp-action="CreateCourses">Course+Teachers</a>
</body>
</html>
